@import url('./base.css');

html, body {
	margin: 0;
}

body {
	width: 100vw;
	height: auto;
	min-height: 100vh;
	background-color: var(--md-sys-color-surface);
	color: var(--md-sys-color-on-surface);
	font-family: 'Google Sans', system-ui;
	word-wrap: break-word;
}

#app {
	width: 100%;
	height: 100%;
}

::-webkit-scrollbar {
	display: none;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 90vw; /* This needs to be less than 100% or 100vw for centering */
	height: 100px;
	background-color: var(--md-sys-color-surface-variant);
	color: var(--md-sys-color-on-surface-variant);
	box-sizing: border-box;
	padding: 10px;
	border-radius: 0px 0px 50px 50px;
	margin: 0 auto;
}

footer {
	background-color: var(--md-sys-color-surface-variant);
	color: var(--md-sys-color-on-surface-variant);
	width: 100vw;
	padding: 5px;
}

.header-left-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: fit-content;
	height: calc(100px - 10px - 10px);
}

.header-logo {
	height: 90%;
}

.header-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.header-button {
	--md-outlined-icon-button-container-width: 50px;
  	--md-outlined-icon-button-container-height: 50px;
	--md-outlined-icon-button-icon-size: 25px;
}